.nav-bar {
  display: flex;
  height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.left,
.right {
  min-width: 80px;
  width: 80px;
  background-color: #f00;
}
.center {
  background-color: blue;
  flex: 1;
}
